@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Sercaling

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #ab0410;
$background: #f2f2f2;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	border-top: 10px solid $secondary_color;
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								color: $secondary_color;
							}
						}
						a {
							padding: 0 13px;
							color: #000;
							text-transform: uppercase;
							&:hover {
								color: $secondary_color;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						ul.sub-menu {
							background-color: rgba(255, 255, 255, 0.8);
							border: 0;
							z-index: 100;
							li {
								height: inherit;
								padding: 0;
								background-image: none;
								border-bottom: 1px solid $secondary_color;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px;
									border: none;
									z-index: 100;
									&:hover {
										background-color: $secondary_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.caption-wrap {
			max-width: 400px;
			padding: 10px;
			left: 36%;
			bottom: 40%;
			border: 1px solid #fff;
			.caption {
				h3 {
					margin-bottom: 0;
					font: {
						size: 24px;
						weight: bold;
					}
					text-align: center;
				}
				h4 {
					margin-top: 10px;
					margin-bottom: 0;
					font: {
						size: 16px;
						weight: bold;
					}
					text-align: center;
				}
			}
		}
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1,
	h2 {
		font: {
			size: 18px;
			weight: bold;
		}
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b11 {
		p {
			&.no-margin {
				margin: 0;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 60px 0;
	background: {
		image: url(block_2_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b21 {
		p {
			margin: 0;
			font-size: 16px;
			color: #fff;
		}
	}
}

/* Block 3 */

.block_3 {
	.moduletable_b31 {
		h3 {
			width: 140px;
			margin: auto;
			padding: 10px;
			background-color: $secondary_color;
			-webkit-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
			font-size: 12px;
			color: #fff;
			text-transform: uppercase;
		}
	}
}

/* Block 4 */

.block_4 {
	.moduletable_b41 {
		iframe {
			border: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding-top: 10px;
	.moduletable_bo1 {
		font-size: 12px;
		a {
			color: $primary_color;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	font-size: 12px;
	a {
		color: $primary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}